version: "3.8"

services:
  rotator-grupos:
    image: node:20-alpine
    working_dir: /app
    command: sh -c "npm install && npm run build && npm run start"
    volumes:
      - ./:/app

    environment:
      PORT: 3000
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      EVOLUTION_BASE_URL: ${EVOLUTION_BASE_URL}
      EVOLUTION_APIKEY: ${EVOLUTION_APIKEY}
      EVOLUTION_INSTANCE_NAME: ${EVOLUTION_INSTANCE_NAME}
      INTERNAL_TOKEN: ${INTERNAL_TOKEN}

    networks:
      - traefik-public

    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public

        - traefik.http.routers.rotator.rule=Host(`rotator.descontinbom.com.br`)
        - traefik.http.routers.rotator.entrypoints=websecure
        - traefik.http.routers.rotator.tls.certresolver=letsencrypt

        - traefik.http.services.rotator.loadbalancer.server.port=3000

networks:
  traefik-public:
    external: true
